<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>

                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >Details</th>

                    <th align='left' >Stage Picture</th>


              </tr>
                </thead>
                <tbody>

                  <td style='width: 200; text-align: center'>1</td>
                     <td style='width: 200; text-align: center'>Elegant Blue</td>
                     <td style='width: 200; text-align: center'>Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   Beautiful stage is beautiful, good looking stage is good looking, pretty stage is pretty, modern stage is modern, lovely stage is lovely, smart stage is smart.
   </td>

                     <td style='padding-left: 3%'><img src='../../../../images/StageFiles/stage40.jpg' style="width:300px;height:300px;" /></td>


                </tbody>
            </table>

