<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th align='left'>Serial</th>
                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >File Name</th>
                    <th align='left' >Stage Picture</th>


              </tr>
                </thead>
                <tbody>

                  <tr><td width='50'> 2</td><td width='50'> 1 </td><td width='100'> Elegant Blue </td><td width='200'> stage40.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/stage40.jpg' style="width:64px;height:64px;" /></td>
</tr>

                </tbody>
            </table>

