<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th align='left'>Serial</th>
                    <th align='left' >ID</th>
                    <th align='left' > Venue Name</th>
                    <th align='left' > Venue Location</th>
                     <th align='left' > Venue Capacity</th>
                      <th align='left' > Venue Cost</th>

                   <th align='left' >File Name</th>
                    <th align='left' >Venue Picture</th>


              </tr>
                </thead>
                <tbody>

                  <tr><td width='50'> 6</td><td width='50'> 6 </td><td width='100'> GEC CONVENT </td><td width='100'> GEC </td><td width='100'>  </td><td width='100'>  </td><td width='200'>  </td><td style='padding-left: 3%'><img src='UploadedFiles/' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 7</td><td width='50'> 7 </td><td width='100'> vhvhmvjhv </td><td width='100'> jgjkglkgk </td><td width='100'> 5453 </td><td width='100'> 53 </td><td width='200'>  </td><td style='padding-left: 3%'><img src='UploadedFiles/' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 8</td><td width='50'> 9 </td><td width='100'> hjkhkh </td><td width='100'> hklhkj.bg </td><td width='100'> 684656 </td><td width='100'> 54545 </td><td width='200'> summm.PNG </td><td style='padding-left: 3%'><img src='UploadedFiles/summm.PNG' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 9</td><td width='50'> 10 </td><td width='100'> zaza </td><td width='100'> azaz </td><td width='100'> 4 </td><td width='100'> 23 </td><td width='200'> Capture.PNG </td><td style='padding-left: 3%'><img src='UploadedFiles/Capture.PNG' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 10</td><td width='50'> 11 </td><td width='100'> bhjkggu </td><td width='100'> hbb </td><td width='100'> 353 </td><td width='100'> 56556 </td><td width='200'> template_ma </td><td style='padding-left: 3%'><img src='UploadedFiles/template_ma' style="width:64px;height:64px;" /></td>
</tr>

                </tbody>
            </table>

