body{
    background-image: url("");

}


.form-horizontal{
    max-width: 500px;
    padding: 10px 20px;
    background: rgba(248, 0, 189, 0.06);
    margin: 10px auto;
    margin-top: 50px;
    border-radius: 8px;
    font-family: Georgia, Times, serif;
}
.form-horizontal fieldset{
    border: none;
}
.form-horizontal legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-horizontal label {
    display: block;
    margin-bottom: 8px;
}

.form-horizontal input[type="submit"]

{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background:  #f8a0eb;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-horizontal input[type="submit"]:hover

{
    background: #f87bc0;
}

#msg{
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #f8a0eb;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;

}



